@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.quiz-page {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.quiz-setup-title {
  font-size: 3rem;
}
.quiz-container {
  width: 75%;
}
.quiz-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb; */
}
.quiz-container > form > label {
  display: flex;
  flex-direction: column;
}
label {
  margin: 1rem;
}
.option {
  width: 25rem;
  height: 2rem;
  margin-left: 0.75rem;
}
.quiz-start-btn {
  background-color: rgb(34, 150, 200);
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
}
